@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

:root {
  /* min-width: 459px;  */
 /*  transition: background-color 1.5s ease, color 1.5s ease; */ /* Lägg till övergångseffekter för bakgrundsfärg och textfärg, funkar inte? */

}

body {
  font-size: 1rem;
  /* transition: background-color 3.5s ease, color 1.5s ease; */ /* funkar inte? */

}

/* h2 {
  font-size: 2.5rem;
}
 */
h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.sectionTitleUnderline {
  content: '';
  height: 0.3rem;
  width: 3rem;
  border-radius: 5px;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */


 /* not using, I added them to tailwind.config.js instead so they are accessible at bg-white-gradient and bg-dark-gradient instead */
.my-custom-white-gradient-to-bottom {
  background: linear-gradient(to bottom, #ffffff 0%, #eeeff2 100%);
}

.my-custom-dark-gradient-to-bottom {
  background: linear-gradient(to bottom, #23272f 0%, #1a1c21 100%);
}