@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

:root {
  /* min-width: 459px;  */
 /*  transition: background-color 1.5s ease, color 1.5s ease; */ /* Lägg till övergångseffekter för bakgrundsfärg och textfärg, funkar inte? */

}

body {
  font-size: 1rem;
  /* transition: background-color 3.5s ease, color 1.5s ease; */ /* funkar inte? */
}

/* h2 {
  font-size: 2.5rem;
}
 */
h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.sectionTitleUnderline {
  content: '';
  height: 0.3rem;
  width: 3rem;
  border-radius: 5px;
}

 /* not using, I added them to tailwind.config.js instead so they are accessible at bg-white-gradient and bg-dark-gradient instead */
.my-custom-white-gradient-to-bottom {
  background: linear-gradient(to bottom, #ffffff 0%, #eeeff2 100%);
}

.my-custom-dark-gradient-to-bottom {
  background: linear-gradient(to bottom, #23272f 0%, #1a1c21 100%);
}

.fade-bottom {
  position: relative;
}

.fade-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%; /* This represents the bottom 20% of the div */
  background: linear-gradient(to top, #EEEFF2, transparent); /* Adjust the color to match your background */
  pointer-events: none; /* Allows interaction with elements behind it */
}